* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  overflow: hidden;
  body {
    min-height: 100vh;
    position: relative;
  }

  .link {
    text-decoration: none;
    font-size: 14px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  .d-b {
    display: block !important;
  }

  .close {
    overflow: hidden;
    border: 0px;
    background: none;
    font-size: 25px;
    margin-top: -4px;
    transition: 0.2s;
  }

  .z-negative {
    z-index: -1 !important;
  }

  .logo-img {
    height: 50px;
  }

  .permission {
    .form-group {
      display: flex;
      justify-content: space-between;
      width: 75%;
      margin: 0 auto;
    }
    label,
    input {
      cursor: pointer;
    }
  }

  .form-container {
    &.was-validated {
      .invalid-feedback {
        display: block;
      }
      .form-control:valid {
        background-image: none;
        border-color: #dc3545;
        padding-right: 0px;
      }
    }
    > input {
      margin-bottom: 10px;
    }
  }

  .loader {
    margin: 0 auto;
    > .close {
      float: right;
    }
    > h2 {
      text-align: center;
    }
    > svg {
      display: block;
      margin: 0 auto;
    }
  }

  .form-group {
    > label {
      cursor: pointer;
      > input {
        cursor: pointer;
      }
    }
  }

  div.products-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    .product-container {
      position: relative;
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      flex-grow: 1;
      margin-bottom: 40px;
      height: 100%;
      > button {
        outline: none;
        border: none;
        background: none;
        flex-basis: calc(20% - 4px);
        max-height: 250px;
        > .product-card {
          padding: 5px;
          padding-bottom: 0px;
          height: 100%;
          border: 1px solid #f1f1f1;
          cursor: pointer;
          font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial,
            sans-serif;
          > .product-image {
            text-align: center;
            > img {
              width: 75px;
              height: 75px;
              border-radius: 50%;
            }
          }
          > .product-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            > * {
              font-size: 13px;
              line-height: 16px;
            }
            > .product-name {
              border-bottom: 1px solid #f1f1f1;
              width: 100%;
              height: 55px;
              overflow: hidden;
              margin: 0;
              > p {
                color: #000;
                text-align: center;
                margin-bottom: 10px;
                word-break: break-word;
              }
            }
            > .product-stock {
              color: #98a6ad;
            }
            > .product-price {
              color: #81c868;
            }
          }
        }
      }
      > h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    > .filter {
      position: absolute;
      top: 15px;
      padding-left: 0px;
      margin-left: -18px;
    }
  }

  .switch-product-list {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: end;
    gap: 10px;
    bottom: -40px;
    right: 0;
  }

  .categories-options {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    height: 100%;
    gap: 4px;
    font-size: 14px;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    :first-child,
    > .more-container > .dropdown-toggle {
      width: unset;
      flex-grow: 0;
    }
    > button {
      white-space: nowrap;
      width: 0;
      overflow: hidden;
      flex-grow: 1;
    }
    > .dropdown-menu {
      right: 0 !important;
    }
    > .more-container {
      position: relative;
      > ul {
        max-height: 200px;
        padding: 0px 2px;
        overflow: auto;
        > li {
          margin: 4px 0px;
          > button {
            width: 100%;
          }
        }
        &::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 4px;
        }
        &::-webkit-scrollbar-track {
          background: #dbdbdb;
          border-radius: 4px;
        }
        &::-webkit-scrollbar {
          width: 7px;
        }
      }
    }
  }

  .table-container {
    overflow-y: auto;
    height: calc(100vh - 300px);
    &::-webkit-scrollbar {
      width: 0;
    }
    .order-table {
      .id {
        width: 5%;
      }
      .name {
        width: 30%;
      }
      .control {
        width: 35%;
      }
      .price {
        width: 20%;
      }
      .remove {
        width: 10%;
        > button {
          padding-bottom: 2px !important;
        }
      }
      > thead {
        position: absolute;
        background: #fff;
        z-index: 10;
        width: 100%;
        padding-right: 42px;
        > tr {
          display: flex;
          margin-left: -3px;
          th {
            padding: 8px 4px;
            border: none;
            text-align: center;
            &.remove > button {
              width: 31px;
              height: 31px;
              padding: 0px;
              padding-left: 1px;
            }
          }
        }
      }
      > tbody {
        :first-child {
          td {
            padding-top: 50px;
          }
        }
        td {
          vertical-align: middle;
          padding: 8px 4px;
          .input-group {
            gap: 4px;
            align-items: center;
            button {
              width: 30px;
              height: 30px;
              padding: 0;
            }
            > input {
              width: fit-content;
              text-align: center;
              border-radius: 0px;
              padding: 0;
            }
          }
          .btn-danger {
            width: 30px;
            height: 30px;
            padding: 0;
          }
          &.price {
            span {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .registration-container {
    > .fields-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      > h2 {
        text-align: center;
      }
      > .form-container {
        > button {
          display: block;
          margin: 0 auto;
        }
        > .permission {
          > hr {
            display: none;
          }
          > .form-group {
            width: 100%;
          }
        }
      }
    }
    > .links {
      display: flex;
      flex-direction: row-reverse;
      gap: 16px;
      padding: 8px;
    }
  }

  .cart-info {
    .price-container {
      text-align: right;
    }
    > .discounting-segment {
      display: flex;
      gap: 12px;
      justify-content: space-between;
      > div {
        display: flex;
        align-items: center;
      }
      > .discount {
        gap: 16px;
        > input {
          width: 125px;
        }
      }
      > .price-discount {
        gap: 6px;
        white-space: nowrap;
        > h3 {
          margin: 0;
        }
      }
    }
    > .price-segment {
      justify-content: flex-end;
    }
  }

  .card-box {
    min-height: 100% !important;
    .row.costumer-container {
      flex-wrap: nowrap;
      > .costumer {
        flex-basis: calc(100% - 64px);
      }
    }
    > .button-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 8px;
      margin-top: auto;
      > div {
        width: 100%;
        gap: 10px;
        > button {
          margin-left: 0;
          margin-bottom: 0;
          padding: 0;
          width: 0;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          flex-grow: 1;
          > i {
            flex-grow: 1;
            margin-top: 3px;
          }
          > span {
            height: fit-content;
            margin: 0;
            font-size: 14px;
            > i {
              margin-top: 5px;
            }
          }
          > .flex-grow-1 {
            margin-right: 20px;
          }
          &.btn-default > .btn-label {
            background-color: #e9605c !important;
          }
        }
      }
    }
    > .span-container {
      position: relative;
      height: fit-content;
      text-align: center;
      margin-top: auto;
      > span {
        width: 100%;
        font-weight: 700;
      }
    }
  }

  .hidden-input {
    opacity: 0;
    position: absolute;
    width: 0px;
    height: 0px;
    border: none;
  }

  .check {
    > div {
      margin: 0;
      padding: 0px 20px 20px 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      > .control-orders {
        gap: 10px;
        > button {
          width: 0;
          flex-grow: 1;
          display: flex;
          > .flex-grow-1 {
            margin-left: -15px;
          }
        }
      }
    }
  }
}

.user-collapse {
  border-left: 2px dashed #5c636a;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 15px 15px 15px;
  height: 100%;
  z-index: 10000;
  transform: translateX(calc(100% + 200px));
  transition: 0.5s;
  &.active {
    transform: translate(0%);
  }
  > ul {
    margin-top: 5px;
    > li {
      transition: 0.3s;
      button {
        font-size: 17px !important;
        margin-bottom: 4px !important;
        > .btn-label {
          padding-left: 15px !important;
          padding-right: 15px !important;
        }
      }
      &:hover {
        > button {
          background-color: #0d6efd;
          color: #fff !important;
          svg {
            color: #fff !important;
          }
        }
      }
    }
  }
  > button {
    background: none;
    margin-left: auto !important;
    margin-top: 4px;
    padding: 4px 8px;
    border-radius: 3px;
    > .hide-side-fiscal {
      font-weight: 700;
      font-size: 16px;
      padding-right: 8px;
    }
  }
}

.confirm-modal > div {
  padding: 0 !important;
  button {
    border-radius: 0px !important;
  }
}

.loading-layout {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  button {
    display: none;
  }
}

.error-layout,
.login-layout {
  margin: 15px 16px;
  pre {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  > .topnav > button {
    width: 40px;
    height: 40px;
    &.settings > svg,
    &.turn-off > svg {
      margin-top: -4px;
    }
  }
}

.version-info {
  position: absolute;
  top: 0;
  right: 0;
  margin: -2px 2px 0px 0px;
  opacity: 0.75;
  color: #a8a8a8;
  font-size: 12px;
}

.layout-content {
  transition: 0.7s;
  margin: 12px 12px 0 12px;
  > .row > div {
    height: calc(100vh - 90px);
    padding: 0px 6px;
  }
}

.btn-grey {
  background-color: #f3f2f7 !important;
  > .btn-label {
    background-color: #eeeeee;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
  }
}

.ad-container {
  height: 100vh;
  &.slide {
    > .carousel-inner {
      width: 50%;
      height: 100%;
      margin: 0 auto;
      > .carousel-item {
        height: 100%;
        position: relative;
        > img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  &.cart {
    display: flex;
    flex-direction: column;
    > .total-price {
      text-align: right;
      margin: 3vh;
    }
    > .list-group {
      margin: 0 10vw;
      overflow-y: hidden;
      flex-grow: 1;
      > li {
        display: flex;
        gap: 24px;
        > .name {
          flex-grow: 1;
          white-space: nowrap;
          overflow: hidden;
        }
        > .price,
        > .qty {
          width: fit-content;
        }
      }
    }
  }
}

.keyboard {
  position: fixed;
  width: 100%;
  bottom: 0;
  transition: 0.2s;
  transform: translateY(100%);
  z-index: 1055;
  &.show-keyboard {
    transform: translateX(0%);
  }
  .hg-button {
    &[data-skbtn="{tab}"],
    &[data-skbtn="\\"],
    &[data-skbtn=";"],
    &[data-skbtn="{caps}"],
    &[data-skbtn=".com"],
    &[data-skbtn="/"] {
      display: none;
    }
  }
}

.float-right {
  float: right;
}

.cursor-default {
  cursor: default !important;
}

.font-weight-400 {
  font-weight: 400;
}

@media screen and (max-width: 1100px) {
  #root > div:not(.ad-container) {
    display: none;
  }
}
